* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    font: 400 0.938rem 'Lexend Deca', sans-serif;
    line-height: 1.5rem;
  }
  
/*Header Section*/
header {
    transform: translate(-12%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2065px;
    max-width: auto;
    min-width: auto;
    height: 98px;
    background-color: #ffffff;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1380px;
    max-width: auto;
    height: 90px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-size: 0.9em;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  a:link {
    color: #242424;
    text-decoration: none;
  }
  a:visited {
    color: #242424;
    text-decoration: none;
  }
  a:active {
    color: #242424;
    text-decoration: none;
  }
  
  .logo-header {
    display: inline;
    width: 110px;
    height: 45px;
    margin: 10px 0 0 20px;
    transition: transform 0.2s;
  }
  
  .logo-header:hover {
    transform: scale(1.03);
  }
  
  .nav-menu {
    display: inline-flex;
    align-items: flex-end;
    width: 280px;
    height: 50px;
  }
  
  
  
  .links-nav li {
    display: inline-flex;
    margin: 13px 15px 0px 0px;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 2px solid transparent;
    color: black;
    cursor: pointer;
    float: left;
  }
  
  .links-nav a:visited {
    color: #000000;
  }
  .links-nav li:hover {
    border-bottom: 2px solid #5e17eb;
  }
  
  .links-nav li:active {
    border-bottom: 2px solid #5e17eb;
  }
  
  .about-page {
    text-decoration: none;
    opacity: 0.8;
  }
  
  .about-page:hover {
    text-decoration: none;
    opacity: 1;
  }
  
  .resume-page {
    text-decoration: none;
    opacity: 0.8;
  }
  
  .resume-page:hover {
    opacity: 1;
  }
  
  .projects-page {
    opacity: 0.8;
  }
  
  .projects-page:hover {
    opacity: 1;
  }
  


.item1 {
    grid-area: header;
    background-color: turquoise;

}

.item2 {
    grid-area: menu;
    background-color: turquoise;

}

.item3 {
    grid-area: main;
    background-color: green;

}

.item4 {
    grid-area: right;
    background-color: yellow;

}

.item5 {
    grid-area: footer;
    background-color: red;

}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
